{% extends "index.html" %}
{% block content %}
<h2>Просмотр заказов</h2>
<ul>
    {% for app in applications %}
    <li>{{ app.name }} - {{ app.price }} руб.</li>
    {% endfor %}
</ul>
<p>Итоговая сумма: {{ total_price }} руб.</p>
{% if discount_percent > 0 %}
    <p>Скидка применена: {{ discount_percent }}%</p>
{% endif %}
<form method="post">
    {% csrf_token %}
     <input type="text" name="discount_code" placeholder="Введите код скидки">
    <button type="submit">Применить скидку</button>
</form>
{% endblock %}