{% extends "index.html" %}
{% block content %}
<h2>Просмотр заказа</h2>
<table>
    <thead>
        <tr>
            <th>Цена со скидкой</th>
        </tr>
    </thead>
    <tbody>
        {% for app, price in applications %}
        <tr>
            <td>{{ app.name }}</td>
            <td>{{ price }} руб.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p>Общая стоимость: {{ total_price }} руб.</p>
<form method="post">
    {% csrf_token %}
    <button type="submit">Подтвердить заказ</button>
</form>
{% endblock %}